/WpfApplication1/bin/Debug/WpfApplication1.vshost.exe.config
/WpfApplication1/bin/Debug/WpfApplication1.vshost.exe.manifest
/WpfApplication1/obj/Debug/App.g.i.cs
/WpfApplication1/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/WpfApplication1/obj/Debug/MainWindow.g.i.cs
/WpfApplication1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WpfApplication1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WpfApplication1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WpfApplication1/bin/Debug/WpfApplication1.exe.config
/WpfApplication1/obj/Debug/App.g.cs
/WpfApplication1/obj/Debug/GeneratedInternalTypeHelper.g.cs
/WpfApplication1/obj/Debug/MainWindow.baml
/WpfApplication1/obj/Debug/MainWindow.g.cs
/WpfApplication1/obj/Debug/WpfApplication1.Properties.Resources.resources
/WpfApplication1/obj/Debug/WpfApplication1.csproj.FileListAbsolute.txt
/WpfApplication1/obj/Debug/WpfApplication1.g.resources
/WpfApplication1/obj/Debug/WpfApplication1_MarkupCompile.i.lref
/WpfApplication1/obj/Debug/WpfApplication1_MarkupCompile.lref
